<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../public/css/index.css">
    <link rel="stylesheet" href="../public/css/header.css">
    <link rel="stylesheet" href="../public/css/footer.css"><link rel="stylesheet" href="../public/css/media.css">
    <link rel="stylesheet" href="../public/css/variable.css">
    <link rel="stylesheet" href="../public/fontawesome-free-6.6.0-web/css/all.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="../public/boxicons-2.1.4/css/boxicons.min.css">
</head>

<body>
    <div class="app">
        <!-- HEADER-MAIN -->
        <header class="header">
            <nav class="header-navbar">
                <div class="header-navbar-bars">
                    <i id="header-navbar-bars-icon" class="fa-solid fa-bars fa-xl" style="color: #ffffff;"></i>
                </div>
                <div class="header-logo">
                    <img class="header-logo-img" src="https://phimmoichill2.net/dev/images/logo.png"></img>
                </div>
                <div class="header-menu">
                    <ul class="header-menu-list">
                        <li class="header-menu-list-item"><a class="header-menu-list-item-link" href=""><span>PHIMMOI</span></a></li>
                        <li class="header-menu-list-item"><a class="header-menu-list-item-link" href=""><span>PHIM LẺ</span></a></li>
                        <li class="header-menu-list-item">
                            <a id="theloai-dropdown" class="header-menu-list-item-link dropdown" href=""><span>THỂ LOẠI</span> <span class="icon-dropdown"><i class="fa-solid fa-caret-down"></i></span></a>
                            <div class="dropdown-list list-theloai">
                                <a class="dropdown-list-item-link" href="">Phim Hành Động</a>
                                <a class="dropdown-list-item-link" href="">Phim Kinh Dị</a>
                                <a class="dropdown-list-item-link" href="">Phim Tình Cảm</a>
                                <a class="dropdown-list-item-link" href="">Phim Trinh Thám</a>
                            </div>
                        </li>
                        <li class="header-menu-list-item">
                            <a id="quocgia-dropdown" class="header-menu-list-item-link dropdown" href=""><span>QUỐC GIA</span> <span class="icon-dropdown"><i class="fa-solid fa-caret-down"></i></a>
                            <div class="dropdown-list list-quocgia">
                                <a class="dropdown-list-item-link" href="">Phim Âu Mỹ</a>
                                <a class="dropdown-list-item-link" href="">Phim Hàn Quốc</a>
                                <a class="dropdown-list-item-link" href="">Phim Trung Quốc</a>
                                <a class="dropdown-list-item-link" href="">Phim Thái Lan</a>
                                <a class="dropdown-list-item-link" href="">Phim Việt Nam</a>
                            </div>
                        </li>
                        <li class="header-menu-list-item"><a class="header-menu-list-item-link" href=""><span>PHIM CHIẾU RẠP</span></a></li>
                    </ul>
                </div>
                <div class="header-form_search">
                    <input class="header-form_search-input" type="text"
                        placeholder="Tìm tên phim, diễn viên...">
                    <i id="header-form_search-click" class="header-form_search-icon fa-solid fa-magnifying-glass fa-lg" style="color: #ffffff;"></i>
                </div>
            </nav>
        </header>
        <!-- BODY-MAIN -->
        <div class="main">
            <div class="main-content">
                <!--SLIDER-->
                <div class="main-content-slider">
                    <div class="main-content-slider-show">
                        <div class="main-content-slider-item" style="background-image: url(../public/img/bg2_img.png)">
                            <div class="main-content-slider-item-infoFilm">           
                                <h1 class="movie-detail-headingFilm text-2xl text-white fw-semibold">Hiệp Sĩ Mặt Nạ: Hỗn Chiến Thời Gian Thực</h1>
                                <ul class="d-flex p-0">
                                    <li class="movie-detail-item text-white list-unstyled">Mới</li>
                                    <li class="movie-detail-item text-white">2020</li>
                                    <li class="movie-detail-item text-white">1 giờ 40 phút</li>
                                    <li class="movie-detail-item text-white">Nhật Bản</li>
                                </ul>
                                <div class="movie_banner_actions">
                                    <a class="banner_action_watch" href=""><i class="fa-solid fa-play"></i> Xem ngay</a>
                                    <div class="movie_banner_action">
                                        <i class='icon-left movie_banner_action-icon bx bx-heart bx-flip-horizontal' ></i>
                                    </div>
                                    <div class="movie_banner_action">
                                        <i class='icon-right movie_banner_action-icon bx bx-share bx-flip-horizontal' ></i>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="main-content-slider-item" style="background-image: url(../public/img/bg2_img.png)">
                            <div class="main-content-slider-item-infoFilm">           
                                <h1 class="movie-detail-headingFilm text-2xl text-white fw-semibold">Hiệp Sĩ Mặt Nạ: Hỗn Chiến Thời Gian Thực</h1>
                                <ul class="d-flex p-0">
                                    <li class="movie-detail-item text-white list-unstyled">Mới</li>
                                    <li class="movie-detail-item text-white">2020</li>
                                    <li class="movie-detail-item text-white">1 giờ 40 phút</li>
                                    <li class="movie-detail-item text-white">Nhật Bản</li>
                                </ul>
                                <div class="movie_banner_actions">
                                    <a class="banner_action_watch" href=""><i class="fa-solid fa-play"></i> Xem ngay</a>
                                    <div class="movie_banner_action">
                                        <i class='icon-left movie_banner_action-icon bx bx-heart bx-flip-horizontal' ></i>
                                    </div>
                                    <div class="movie_banner_action">
                                        <i class='icon-right movie_banner_action-icon bx bx-share bx-flip-horizontal' ></i>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="main-content-slider-item" style="background-image: url(../public/img/bg2_img.png)">
                            <div class="main-content-slider-item-infoFilm">           
                                <h1 class="movie-detail-headingFilm text-2xl text-white fw-semibold">Hiệp Sĩ Mặt Nạ: Hỗn Chiến Thời Gian Thực</h1>
                                <ul class="d-flex p-0">
                                    <li class="movie-detail-item text-white list-unstyled">Mới</li>
                                    <li class="movie-detail-item text-white">2020</li>
                                    <li class="movie-detail-item text-white">1 giờ 40 phút</li>
                                    <li class="movie-detail-item text-white">Nhật Bản</li>
                                </ul>
                                <div class="movie_banner_actions">
                                    <a class="banner_action_watch" href=""><i class="fa-solid fa-play"></i> Xem ngay</a>
                                    <div class="movie_banner_action">
                                        <i class='icon-left movie_banner_action-icon bx bx-heart bx-flip-horizontal' ></i>
                                    </div>
                                    <div class="movie_banner_action">
                                        <i class='icon-right movie_banner_action-icon bx bx-share bx-flip-horizontal' ></i>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="main-content-slider-item" style="background-image: url(../public/img/bg2_img.png)">
                            <div class="main-content-slider-item-infoFilm">           
                                <h1 class="movie-detail-headingFilm text-2xl text-white fw-semibold">Hiệp Sĩ Mặt Nạ: Hỗn Chiến Thời Gian Thực</h1>
                                <ul class="d-flex p-0">
                                    <li class="movie-detail-item text-white list-unstyled">Mới</li>
                                    <li class="movie-detail-item text-white">2020</li>
                                    <li class="movie-detail-item text-white">1 giờ 40 phút</li>
                                    <li class="movie-detail-item text-white">Nhật Bản</li>
                                </ul>
                                <div class="movie_banner_actions">
                                    <a class="banner_action_watch" href=""><i class="fa-solid fa-play"></i> Xem ngay</a>
                                    <div class="movie_banner_action">
                                        <i class='icon-left movie_banner_action-icon bx bx-heart bx-flip-horizontal' ></i>
                                    </div>
                                    <div class="movie_banner_action">
                                        <i class='icon-right movie_banner_action-icon bx bx-share bx-flip-horizontal' ></i>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="main-content-slider-btns">
                        <div class="slider-btn btn-prev"><i class="fa-chevron fa-solid fa-chevron-left"></i></div>
                        <div class="slider-btn btn-next"><i class="fa-chevron fa-solid fa-chevron-right"></i></div>
                    </div>
                    <ul class="slider-dots">
                        <li class="dot dot-active"></li>
                        <li class="dot"></li>
                        <li class="dot"></li>
                        <li class="dot"></li>
                        <li class="dot"></li>
                    </ul>
                </div>

                <div class="horizontal-slider">
                    <div class="heading-slider">
                        <h2 class="">Mới ra mắt</h2>
                        <a href="">Xem thêm</a>
                    </div>
                    <div class="swiper-container">
                        <div class="swiper-wrapper">
                            <div class="swiper-slide">
                                <div class="swiper-slide-movie" style="background-image: url(../public/img/bg2_img.png);"></div>
                                <div class="swiper-slide-nameMovie"><h3 class="swiper-slide-nameMovie-h3">Phim chưởng</h3></div>
                            </div>
                        </div>
                    </div>
                </div>

                <!--BLOCK CONTENT-->
                <div class="main-content-block">
                    <div class="main-content-block-heading">
                        <a class="main-content-block-heading-title" href=""><h2 class="main-content-block-heading-title-h3">PHIM LẺ MỚI CẬP NHẬT</h2></a>
                        <ul class="main-content-block-heading-list">
                            <li class="main-content-block-heading-list-item"><a class="main-content-block-heading-list-item-link" href="">Hành động</a></li>
                            <li class="main-content-block-heading-list-item"><a class="main-content-block-heading-list-item-link" href="">Kinh dị</a></li>
                            <li class="main-content-block-heading-list-item"><a class="main-content-block-heading-list-item-link" href="">Hoạt hình</a></li>
                            <li class="main-content-block-heading-list-item"><a class="main-content-block-heading-list-item-link" href="">Hài hước</a></li>
                        </ul>
                        <a class="main-content-block-heading-seeMore" href="">Xem tất cả <i class="fa-solid fa-caret-right"></i></a>
                    </div>
                    <div class="main-content-block-listFilm">
                        <div class="main-content-block-listFilm-item item-large">
                            <span class="main-content-block-listFilm-item-label">HD-Vietsub</span>
                            <a class="main-content-block-listFilm-item-link" href="">
                                <img class="main-content-block-listFilm-item-link-img" src="../public/img/bg2_img.png" alt="">
                                <h3 class="main-content-block-listFilm-item-link-h3">Doraemon</h3>
                            </a>
                        </div>
                        <div class="main-content-block-listFilm-item item-small">
                            <span class="main-content-block-listFilm-item-label">HD-Vietsub</span>
                            <a class="main-content-block-listFilm-item-link" href="">
                                <img class="main-content-block-listFilm-item-link-img" src="../public/img/bg2_img.png" alt="">
                                <h3 class="main-content-block-listFilm-item-link-h3">Âm Thanh Của Hy Vọng: Câu Chuyện Về Possum Trot</h3>
                            </a>
                        </div> 
                        <div class="main-content-block-listFilm-item item-small">
                            <span class="main-content-block-listFilm-item-label">HD-Vietsub</span>
                            <a class="main-content-block-listFilm-item-link" href="">
                                <img class="main-content-block-listFilm-item-link-img" src="../public/img/bg2_img.png" alt="">
                                <h3 class="main-content-block-listFilm-item-link-h3">Doraemon</h3>
                            </a>
                        </div> 
                        <div class="main-content-block-listFilm-item item-small">
                            <span class="main-content-block-listFilm-item-label">HD-Vietsub</span>
                            <a class="main-content-block-listFilm-item-link" href="">
                                <img class="main-content-block-listFilm-item-link-img" src="../public/img/bg2_img.png" alt="">
                                <h3 class="main-content-block-listFilm-item-link-h3">Doraemon</h3>
                            </a>
                        </div>
                        <div class="main-content-block-listFilm-item item-small">
                            <span class="main-content-block-listFilm-item-label">HD-Vietsub</span>
                            <a class="main-content-block-listFilm-item-link" href="">
                                <img class="main-content-block-listFilm-item-link-img" src="../public/img/bg2_img.png" alt="">
                                <h3 class="main-content-block-listFilm-item-link-h3">Doraemon</h3>
                            </a>
                        </div> 
                        <div class="main-content-block-listFilm-item item-small">
                            <span class="main-content-block-listFilm-item-label">HD-Vietsub</span>
                            <a class="main-content-block-listFilm-item-link" href="">
                                <img class="main-content-block-listFilm-item-link-img" src="../public/img/bg2_img.png" alt="">
                                <h3 class="main-content-block-listFilm-item-link-h3">Doraemon</h3>
                            </a>
                        </div>
                        <div class="main-content-block-listFilm-item item-small">
                            <span class="main-content-block-listFilm-item-label">HD-Vietsub</span>
                            <a class="main-content-block-listFilm-item-link" href="">
                                <img class="main-content-block-listFilm-item-link-img" src="../public/img/bg2_img.png" alt="">
                                <h3 class="main-content-block-listFilm-item-link-h3">Doraemon</h3>
                            </a>
                        </div>
                        <div class="main-content-block-listFilm-item item-small">
                            <span class="main-content-block-listFilm-item-label">HD-Vietsub</span>
                            <a class="main-content-block-listFilm-item-link" href="">
                                <img class="main-content-block-listFilm-item-link-img" src="../public/img/bg2_img.png" alt="">
                                <h3 class="main-content-block-listFilm-item-link-h3">Doraemon</h3>
                            </a>
                        </div>  
                        <div class="main-content-block-listFilm-item item-small">
                            <span class="main-content-block-listFilm-item-label">HD-Vietsub</span>
                            <a class="main-content-block-listFilm-item-link" href="">
                                <img class="main-content-block-listFilm-item-link-img" src="../public/img/bg2_img.png" alt="">
                                <h3 class="main-content-block-listFilm-item-link-h3">Doraemon</h3>
                            </a>
                        </div>                       
                        <div class="main-content-block-listFilm-item item-small">
                            <span class="main-content-block-listFilm-item-label">HD-Vietsub</span>
                            <a class="main-content-block-listFilm-item-link" href="">
                                <img class="main-content-block-listFilm-item-link-img" src="../public/img/bg2_img.png" alt="">
                                <h3 class="main-content-block-listFilm-item-link-h3">Doraemon</h3>
                            </a>
                        </div>     
                        <div class="main-content-block-listFilm-item item-small">
                            <span class="main-content-block-listFilm-item-label">HD-Vietsub</span>
                            <a class="main-content-block-listFilm-item-link" href="">
                                <img class="main-content-block-listFilm-item-link-img" src="../public/img/bg2_img.png" alt="">
                                <h3 class="main-content-block-listFilm-item-link-h3">Doraemon</h3>
                            </a>
                        </div>                     
                        <div class="main-content-block-listFilm-item item-small">
                            <span class="main-content-block-listFilm-item-label">HD-Vietsub</span>
                            <a class="main-content-block-listFilm-item-link" href="">
                                <img class="main-content-block-listFilm-item-link-img" src="../public/img/bg2_img.png" alt="">
                                <h3 class="main-content-block-listFilm-item-link-h3">Doraemon</h3>
                            </a>
                        </div>                                            
                    </div> 
                <!--BLOCK CONTENT-->                  
                </div>
                <div class="main-content-block">
                    <div class="main-content-block-heading">
                        <a class="main-content-block-heading-title" href=""><h2 class="main-content-block-heading-title-h3">PHIM MỚI</h2></a>
                        <ul class="main-content-block-heading-list">
                            <li class="main-content-block-heading-list-item"><a class="main-content-block-heading-list-item-link" href="">Hành động</a></li>
                            <li class="main-content-block-heading-list-item"><a class="main-content-block-heading-list-item-link" href="">Kinh dị</a></li>
                            <li class="main-content-block-heading-list-item"><a class="main-content-block-heading-list-item-link" href="">Hoạt hình</a></li>
                            <li class="main-content-block-heading-list-item"><a class="main-content-block-heading-list-item-link" href="">Hài hước</a></li>
                        </ul>
                        <a class="main-content-block-heading-seeMore" href="">Xem tất cả <i class="fa-solid fa-caret-right"></i></a>
                    </div>
                    <div class="main-content-block-listFilm">
                        <div class="main-content-block-listFilm-item item-large">
                            <span class="main-content-block-listFilm-item-label">HD-Vietsub</span>
                            <a class="main-content-block-listFilm-item-link" href="">
                                <img class="main-content-block-listFilm-item-link-img" src="../public/img/bg2_img.png" alt="">
                                <h3 class="main-content-block-listFilm-item-link-h3">Doraemon</h3>
                            </a>
                        </div>
                        <div class="main-content-block-listFilm-item item-small">
                            <span class="main-content-block-listFilm-item-label">HD-Vietsub</span>
                            <a class="main-content-block-listFilm-item-link" href="">
                                <img class="main-content-block-listFilm-item-link-img" src="../public/img/bg2_img.png" alt="">
                                <h3 class="main-content-block-listFilm-item-link-h3">Doraemon</h3>
                            </a>
                        </div> 
                        <div class="main-content-block-listFilm-item item-small">
                            <span class="main-content-block-listFilm-item-label">HD-Vietsub</span>
                            <a class="main-content-block-listFilm-item-link" href="">
                                <img class="main-content-block-listFilm-item-link-img" src="../public/img/bg2_img.png" alt="">
                                <h3 class="main-content-block-listFilm-item-link-h3">Doraemon</h3>
                            </a>
                        </div> 
                        <div class="main-content-block-listFilm-item item-small">
                            <span class="main-content-block-listFilm-item-label">HD-Vietsub</span>
                            <a class="main-content-block-listFilm-item-link" href="">
                                <img class="main-content-block-listFilm-item-link-img" src="../public/img/bg2_img.png" alt="">
                                <h3 class="main-content-block-listFilm-item-link-h3">Doraemon</h3>
                            </a>
                        </div>
                        <div class="main-content-block-listFilm-item item-small">
                            <span class="main-content-block-listFilm-item-label">HD-Vietsub</span>
                            <a class="main-content-block-listFilm-item-link" href="">
                                <img class="main-content-block-listFilm-item-link-img" src="../public/img/bg2_img.png" alt="">
                                <h3 class="main-content-block-listFilm-item-link-h3">Doraemon</h3>
                            </a>
                        </div> 
                        <div class="main-content-block-listFilm-item item-small">
                            <span class="main-content-block-listFilm-item-label">HD-Vietsub</span>
                            <a class="main-content-block-listFilm-item-link" href="">
                                <img class="main-content-block-listFilm-item-link-img" src="../public/img/bg2_img.png" alt="">
                                <h3 class="main-content-block-listFilm-item-link-h3">Doraemon</h3>
                            </a>
                        </div>
                        <div class="main-content-block-listFilm-item item-small">
                            <span class="main-content-block-listFilm-item-label">HD-Vietsub</span>
                            <a class="main-content-block-listFilm-item-link" href="">
                                <img class="main-content-block-listFilm-item-link-img" src="../public/img/bg2_img.png" alt="">
                                <h3 class="main-content-block-listFilm-item-link-h3">Doraemon</h3>
                            </a>
                        </div>
                        <div class="main-content-block-listFilm-item item-small">
                            <span class="main-content-block-listFilm-item-label">HD-Vietsub</span>
                            <a class="main-content-block-listFilm-item-link" href="">
                                <img class="main-content-block-listFilm-item-link-img" src="../public/img/bg2_img.png" alt="">
                                <h3 class="main-content-block-listFilm-item-link-h3">Doraemon</h3>
                            </a>
                        </div>  
                        <div class="main-content-block-listFilm-item item-small">
                            <span class="main-content-block-listFilm-item-label">HD-Vietsub</span>
                            <a class="main-content-block-listFilm-item-link" href="">
                                <img class="main-content-block-listFilm-item-link-img" src="../public/img/bg2_img.png" alt="">
                                <h3 class="main-content-block-listFilm-item-link-h3">Doraemon</h3>
                            </a>
                        </div>                       
                        <div class="main-content-block-listFilm-item item-small">
                            <span class="main-content-block-listFilm-item-label">HD-Vietsub</span>
                            <a class="main-content-block-listFilm-item-link" href="">
                                <img class="main-content-block-listFilm-item-link-img" src="../public/img/bg2_img.png" alt="">
                                <h3 class="main-content-block-listFilm-item-link-h3">Doraemon</h3>
                            </a>
                        </div>     
                        <div class="main-content-block-listFilm-item item-small">
                            <span class="main-content-block-listFilm-item-label">HD-Vietsub</span>
                            <a class="main-content-block-listFilm-item-link" href="">
                                <img class="main-content-block-listFilm-item-link-img" src="../public/img/bg2_img.png" alt="">
                                <h3 class="main-content-block-listFilm-item-link-h3">Doraemon</h3>
                            </a>
                        </div>                     
                        <div class="main-content-block-listFilm-item item-small">
                            <span class="main-content-block-listFilm-item-label">HD-Vietsub</span>
                            <a class="main-content-block-listFilm-item-link" href="">
                                <img class="main-content-block-listFilm-item-link-img" src="../public/img/bg2_img.png" alt="">
                                <h3 class="main-content-block-listFilm-item-link-h3">Doraemon</h3>
                            </a>
                        </div>                                            
                    </div>                   
                </div>               
            </div>
        </div>
        <!-- FOOTER-MAIN -->
        <footer class="footer">
            <div class="footer-container">
                <div class="footer-info">
                    <div class="footer-info-logo">
                        <img class="footer-info-logo-img" src="https://phimmoichill2.net/dev/images/logo.png" alt="">
                    </div>
                    <p class="footer-info-text">Tận hưởng trải nghiệm xem phim mới nhất miễn phí ngay tại phimmoi và
                        dành
                        thời gian thư giãn chill cùng gia đình và bạn bè. Với một thư viện phim phong phú</p>
                </div>
                <div class="footer-menu">
                    <div class="footer-menu-block">
                        <h3 class="footer-menu-block-header">Phim Mới</h3>
                        <ul class="footer-menu-block-list">
                            <li class="footer-menu-block-list-item"><a class="footer-menu-block-list-item-link"
                                    href="">Phim
                                    chiếu rạp</a></li>
                            <li class="footer-menu-block-list-item"><a class="footer-menu-block-list-item-link"
                                    href="">Phim
                                    lẻ</a></li>
                            <li class="footer-menu-block-list-item"><a class="footer-menu-block-list-item-link"
                                    href="">Phim
                                    hành động</a></li>
                            <li class="footer-menu-block-list-item"><a class="footer-menu-block-list-item-link"
                                    href="">Phim
                                    viễn tưởng</a></li>
                            <li class="footer-menu-block-list-item"><a class="footer-menu-block-list-item-link"
                                    href="">Phim
                                    tâm lý</a></li>
                            <li class="footer-menu-block-list-item"><a class="footer-menu-block-list-item-link"
                                    href="">Phim
                                    hài hước</a></li>
                        </ul>
                    </div>
                    <div class="footer-menu-block">
                        <h3 class="footer-menu-block-header">Phim Hay</h3>
                        <ul class="footer-menu-block-list">
                            <li class="footer-menu-block-list-item"><a class="footer-menu-block-list-item-link"
                                    href="">Phim
                                    Mỹ</a></li>
                            <li class="footer-menu-block-list-item"><a class="footer-menu-block-list-item-link"
                                    href="">Phim
                                    Hàn Quốc</a></li>
                            <li class="footer-menu-block-list-item"><a class="footer-menu-block-list-item-link"
                                    href="">Phim
                                    Trung Quốc</a></li>
                            <li class="footer-menu-block-list-item"><a class="footer-menu-block-list-item-link"
                                    href="">Phim
                                    Thái Lan</a></li>
                            <li class="footer-menu-block-list-item"><a class="footer-menu-block-list-item-link"
                                    href="">Phim
                                    Phim Việt Nam</a></li>
                        </ul>
                    </div>
                    <div class="footer-menu-block">
                        <h3 class="footer-menu-block-header">Phim Hot</h3>
                        <ul class="footer-menu-block-list">
                            <li class="footer-menu-block-list-item"><a class="footer-menu-block-list-item-link"
                                    href="">Về
                                    chúng tôi</a></li>
                            <li class="footer-menu-block-list-item"><a class="footer-menu-block-list-item-link"
                                    href="">Site
                                    map</a></li>

                        </ul>
                    </div>
                    <div class="footer-menu-block">
                        <h3 class="footer-menu-block-header">Trợ Giúp</h3>
                        <ul class="footer-menu-block-list">
                            <li class="footer-menu-block-list-item"><a class="footer-menu-block-list-item-link"
                                    href="">Hỏi
                                    đáp</a></li>
                            <li class="footer-menu-block-list-item"><a class="footer-menu-block-list-item-link"
                                    href="">Liên
                                    hệ</a></li>
                            <li class="footer-menu-block-list-item"><a class="footer-menu-block-list-item-link"
                                    href="">Tin
                                    tức</a></li>
                        </ul>
                    </div>
                    <div class="footer-menu-block">
                        <h3 class="footer-menu-block-header">Thông tin</h3>
                        <ul class="footer-menu-block-list">
                            <li class="footer-menu-block-list-item"><a class="footer-menu-block-list-item-link"
                                    href="">Điều
                                    khoản sử dụng</a></li>
                            <li class="footer-menu-block-list-item"><a class="footer-menu-block-list-item-link"
                                    href="">Chính sách riêng tư</a></li>
                            <li class="footer-menu-block-list-item"><a class="footer-menu-block-list-item-link"
                                    href="">Khiếu nại bản quyền</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </footer>
    </div>
    <script src="https://unpkg.com/boxicons@2.1.4/dist/boxicons.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js"
        integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.min.js"
        integrity="sha384-0pUGZvbkm6XF6gxjEnlmuGrJXVbNuzT9qBBavbLwCsOGabYfZo0T0to5eqruptLy"
        crossorigin="anonymous"></script>
    <script src="../js/header.js"></script>
    <script src="../js/main.js"></script>
</body>

</html>