:root{
    --main-color: #FF9601;
    --slide-img-newFilm-width: 350px;
    --slide-img-newFilm-height: 200px;
}
.swiper-slide_large{
    width: 100%;
    height: 100%;
}
.swiper-slide_medium{
    width: 100%;
    height: 100%;
}
.swiper-slide_small{
    width: 100%;
    height: 100%;
}
.film_large{
    width: 350px;
    height: 200px;
} 
.film_medium{
    width: 207px;
    height: 310px;
}
.film_small{
    width: 207px;
    height: 116px;
}

.font-weigh-semibold{
    font-weight: 600;
}

.main-color{
    color: var(--main-color);
}

.heading1{
    font-size: 22px;
    text-transform: uppercase;
    font-weight: bold;
}
.heading2{
    font-size: 18px;
}
.heading3{
    font-size: 16px;
}


/*list item movie*/
.item_movie{
    width: 100%;
    height: auto;
    /* padding: 5px; */
    color: #fff;
    position: relative;
}
.movie_thumbnail:hover{
    opacity: 0.7;
}
.movie_thumbnail:hover .icon-play{
    display: block;
}
.movie_thumbnail{
    position: relative;
    width: 100%;
    height: 150px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    border-radius: 8px;
}
.movie_link{
    display: block;
    width: 100%;
    height: 100%;
}
.movie_title{
    width: 100%;
    height: 60px;
}
.movie_title_name{
    width: 100%;
    display: -webkit-box;
    -webkit-box-orient: vertical;    
    -webkit-line-clamp: 2; 
    overflow: hidden;
    text-overflow: ellipsis;
    line-height: 0.8;
    padding-bottom: 2px;
}
.icon-play{
    display: none;
    position: absolute;
    color: #fff;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.icon-movie-del{
    position: absolute;
    top: 5px;
    right: 10px;
}
.icon-del{
    cursor: pointer;
    transition: 0.5s;
}
.icon-del:hover{
    color: red;
}
/*list item movie*/


/*Swiper container*/
.horizontal-slider{
    width: 100%;
    height:auto;
    color: #fff;
    margin: 20px 0;
}    
.heading-slider{
    display: flex;
    justify-content: space-between;
    align-items: center; 
    margin-bottom: 5px;
}
.heading-slider-viewAll{
    color: #fff;
    text-decoration: none;
}
.heading-slider-viewAll:hover{
    color: var(--main-color);
}
.swiper-container{
    width: 100%;
    height: auto;
    overflow: hidden;
    position: relative;
}
.swiper-wrapper{
    width: 100%;
    height: auto;
    display: flex;
    scrollbar-width: none;
    overflow-x: scroll;
    scroll-snap-type:x mandatory; 
    scroll-behavior: smooth;
    scroll-snap-stop: always;
    transition: 0.5s;
}
.swiper-slide{
    /* width: 350px;
    height: 100%; */
    margin-right: 10px;
    scroll-snap-align: start; 
}
.swiper-slide-img{
    position: relative;
    /* height: 200px;
    width: 350px; */
    border-radius: 5px;
    background-position: center center;
    background-size: cover;
}
.swiper-slide-img:hover{
    opacity: 0.7;
}
.swiper-slide-img:hover .icon-play{
    display: block;
}
.swiper-slide-img .icon-play{
    display: none;
    position: absolute;
    color: #fff;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.swiper-slide-img-link{
    width: 100%;
    height: 100%;
    display: block;
}
.swiper-slide-title{
    width: 100%;
    height: 60px;
    margin: 5px 0;
    line-height: 0;
}
.swiper-slide-title-name{
    margin: 0;
    width: 100%;
    display: -webkit-box;
    -webkit-box-orient: vertical;    
    -webkit-line-clamp: 2; 
    overflow: hidden;
    text-overflow: ellipsis;
    line-height: 0.8;
    padding-bottom: 2px;
}
.swiper-slide-title-name span{
    width: 100%;
    height: auto;
}
.swiper-btn{
    position: absolute;
    top: 0;
    width: 50px;
    height: calc(100% - 70px);
    display: flex;
    align-items: center;
    justify-content: center;
    background-color:rgb(0, 0, 0, 0.2);
    cursor: pointer;
}
.swiper-btn-prev{
    left: 0;
}
.swiper-btn-next{
    right: 0;
}
/*End swiper container*/


/*form search*/
.search{
    padding: 30px 0;
}
.form-search{
    display: flex;
    align-items: center;
    width: 100%;
    height: auto;
    background-color: rgb(21,21,21);
    padding: 12px 10px;
}
.form-search *{
    margin: 0 5px;
}
.form-input{
    width: 100%;
    height: 35px;
    background-color: transparent;
    border: none;
    color: #fff;
}
.form-input:focus{
    outline: none;
}
.form-input::placeholder{
    color: #999;
}
.form-btnSubmit{
    width: 110px;
    height: 42px;
    background-color: rgb(44, 44, 46);
    border: none;
    border-radius: 10px;
    color: #999;
}
.list-item{
    width: 100%;
    height: auto;
    /* margin: 30px 0; */
}
.item-film{
    width: 100%;
    height: 300px;
    background-color: #000;
    color: #fff;
    text-align: center;
}

.active-btn-search{
    color: #000;
    background-color: var(--main-color);
    font-weight: 700;
}
/*End form search*/

/* Pagnitation*/
.pagnitation{
    margin: 20px 0;
    display: flex;
    justify-content: center;
}
.pagnitation-list{
    display: flex;
    list-style: none;
}
.pagnitation-item{
    margin: 5px;
}
.pagnitation-item-link{
    display: block;
    color: #fff;
    text-decoration: none;
    min-width: 30px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    border: 1px solid gray;
    background-color: rgb(58, 58, 58);
    font-weight: 600;
    font-size: 14px;
}
.pagnitation-item-link:hover{
    color: rgb(255,150,1);
    border-color: rgb(255,150,1);
}
/*End Pagnitation */