.footer {
    background: rgb(18, 18, 18);
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    padding: 20px 0;
}
.footer-container{
    max-width: 1125px;
    display: flex;
}
.footer-info-text {
    color: white;
    text-align: justify;
    text-indent: 20px;
    margin: 0;
    padding: 5px 0;
}
.footer-info {
    max-width: 20%;
    margin: 0 15px;
}
.footer-info-logo{
    display: flex;
    justify-content: center;
}
.footer-info-logo-img{
    width: 140px;
    height: 40px;
}
.footer-menu {
    width: 80%;
    display: grid;
    grid-template-columns: auto auto auto auto auto;
    justify-content: space-around;
    column-gap: 20px;
}
.footer-menu-block {
    height: fit-content;
    width: fit-content;
}
.footer-menu-block-header{
    color: rgb(255, 150, 1);
    font-size: 16px;
    font-weight: 700;
}
.footer-menu-block-list {
    list-style: none;
    margin-top: 5px;
    padding: 0;
}
.footer-menu-block-list-item{
    padding: 5px 0;
}
.footer-menu-block-list-item-link{
    color: rgb(182, 182, 182);
    text-decoration: none;
    cursor: pointer;
}
.footer-menu-block-list-item-link:hover {
    color: rgb(255, 150, 1);
}