.search{
    padding-top: 30px;
}
.form-search{
    display: flex;
    align-items: center;
    width: 100%;
    height: auto;
    background-color: rgb(21,21,21);
    padding: 12px 10px;
}
.form-search *{
    margin: 0 5px;
}
.form-input{
    width: 100%;
    height: 35px;
    background-color: transparent;
    border: none;
    color: #fff;
}
.form-input:focus{
    outline: none;
}
.form-input::placeholder{
    color: #999;
}
.form-btnSubmit{
    width: 110px;
    height: 42px;
    background-color: rgb(44, 44, 46);
    border: none;
    border-radius: 10px;
    color: #999;
}
.list-item{
    width: 100%;
    height: auto;
    margin: 30px 0;
}
.item-film{
    width: 100%;
    height: 300px;
    background-color: #000;
    color: #fff;
    text-align: center;
}

.active-btn-search{
    color: #000;
    background-color: var(--main-color);
    font-weight: 700;
}